<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Delivery Details
    </h1>
    <table data-th-object="${order}">
        <tr>
            <td>
                Order Number:
            </td>
            <td>
                <a data-th-href="@{/order/{orderID}(orderID = ${order.orderID})}" data-th-text="*{orderID}"></a>
            </td>
        </tr>
        <tr>
            <td>
                Your order will be delivered to :
            </td>
            <td>
                <span data-th-text="*{address}"></span>
            </td>
        </tr>
        <tr>
            <td>
                Pizza Cost:
            </td>
            <td>
                <span data-th-if="${order.rush}" data-th-text="${order.total-2}"></span>
                <span data-th-unless="${order.rush}" data-th-text="${order.total}"></span>
            </td>
        </tr>
        <tr data-th-if="${order.rush}">
            <td>
                Rush:
            </td>
            <td>
                $2
            </td>
        </tr>
        <tr>
            <td>
                Total Cost:
            </td>
            <td>
                <span data-th-text="*{total}"></span>
            </td>
        </tr>
    </table>
</body>
</html>